.bottom-deck-first{
    display: grid;
    grid-template-rows: 50px auto;
}

.forecast-box{
    display: grid;
    grid-template-rows: 30% 30% 30%;
    height: 100%;
    width: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.day-1,.day-2, .day-3{
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: space-between;
    align-items: center;
}

.img-temp-forecast{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.forecast-number{
    font-size: 2.7vh;
    font-weight: 400;
}

.forecast-temperature{
    display: flex;
    align-items: center;
}

.date-month, .day{
    font-weight: 200;
    font-size: 1.5vh;
}

.date-month{
    margin-right: 20px;
}

.forecast-image-loading{
    height: 100%;
    width: 50px;
}

.forecast-celsius{
    font-weight: 250;
}

.forecast-image-svg{

}