h5{
    padding: 0;
    margin: 0;
}

.Humidity, .Windchill, .humidity-value, .humidity-unit, .windchill-value, .windchill-unit{
    padding: 0;
    margin: 0;
}

.internal-container{
    display: flex;
}