.Sun-Dial {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    overflow: hidden;
    border-radius: 20px;
    padding: 20px;
}

.svg-container {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.dial-line {
    fill: none;
    stroke: #444;
    stroke-width: 4;
    filter: url(#shadow);
}

.sun-arc {
    fill: none;
    stroke: url(#gradient);
    stroke-width: 6; /* Thinner stroke */
    stroke-dasharray: 20, 1; /* Longer and closer dashes */
}

.sun-icon {
    fill: yellow;
    filter: url(#shadow);
}

text {
    fill: #ccc;
    font-family: Arial, sans-serif;
    font-size: 12px;
    opacity: 0.8;
}

.time-value {
    fill: #fff;
    font-family: Arial, sans-serif;
    font-size: 24px;
    text-anchor: middle;
}

.title-Sun {
    color: #fff;
    text-align: center;
    margin-bottom: 10px;
}